

#slider {
  width: 720px;
  height: 400px;
  overflow : hidden;
}


#sliders .slides {
  display: block;
  width: 600px;
  height : 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#slider .slide{
  float: left;
  list-style-type: none;
  width: 720px;
  height: 400px
}
